.imgWrapper {
    max-width: 500px;
}
/* style.module.scss */

  .showAnimation {
    animation-name: fadeIn; /* Назва ключової анімації */
    animation-duration: 1s; /* Тривалість анімації */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0.5; /* Початкова прозорість */
       /* Початковий масштаб */
    }
    100% {
      opacity: 1; /* Кінцева прозорість */
    }
  }
  